.tabs {
  width: 744px;
  height: 50px;
  display: flex;

  button {
    border: none;
    font-size: 14px;
    line-height: 20px;
    margin: 15px;
  }

  &__item_active {
    color: var(--color-blue);
  }

  &__band {
    width: 1px;
    height: 18px;
    background: #cdcdcd;
    margin: 15px 0;
  }

  &__add {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    align-items: center;

    &_active {
      width: 26px;
      height: 26px;

      &:hover path {
        fill: #fff;
      }
      &:hover rect {
        fill: var(--color-blue);
      }
      &:hover circle {
        fill: var(--color-blue);
      }
    }
  }
}
